    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #00110b;
        --color01: #00110b;
        --color02: #00110b;
        --color03: #e6f6f0;
        --color04: #e6f6f0;
        --color05: #e6f6f0;
        --color06: #e6f6f0;
        --color07: #e6f6f0;
        --color08: #ff3370;
        --color09: #cceee1;
        --color10: #D1FFb0;
        --color11: #00a86b;
        --color12: #80d4b5;
        --color13: #D1FFb0;
        --color14: #C3FCB8;
        --color15: #cceee1;
    }
