:root {
--color00: #00110b;
--color01: #00110b;
--color02: #00110b;
--color03: #e6f6f0;
--color04: #e6f6f0;
--color05: #e6f6f0;
--color06: #e6f6f0;
--color07: #e6f6f0;
--color08: #ff3370;
--color09: #cceee1;
--color0A: #D1FFb0;
--color0B: #00a86b;
--color0C: #80d4b5;
--color0D: #D1FFb0;
--color0E: #C3FCB8;
--color0F: #ff3370;
}
